Source: ptux-sdk-boneblack
Section: embedded
Priority: extra
Maintainer: Bill Gatliff <bgat@billgatliff.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3

Package: ptux-sdk-boneblack
Architecture: all
Description: Pragmatux SDK for Beaglebone Black
 Meta-package referencing SDK tools for the
 Beaglebone Black target (http://beagleboard.org)
Depends:
 ptux-sdk-armhf,
 mkos-boneblack,
 ${misc:Depends}
