Source: ptux-sdk-overostorm
Section: embedded
Priority: extra
Maintainer: Bill Gatliff <bgat@billgatliff.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3

Package: ptux-sdk-overostorm
Architecture: all
Description: Pragmatux SDK for Overo Storm
 Meta-package referencing SDK tools for the
 Gumstix Overo Storm target (http://gumstix.com)
Depends:
 ptux-sdk-armhf,
 mkos-overostorm,
 ${misc:Depends}
