Source: ptux-sdk-overo
Section: embedded
Priority: extra
Maintainer: Bill Gatliff <bgat@billgatliff.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3

Package: ptux-sdk-overo
Architecture: all
Description: Pragmatux SDK for Gumstix Overo
 Meta-package referencing SDK tools for the
 Gumstix Overo COM target (http://gumstix.com)
Depends:
 ptux-sdk-armhf,
 mkos-overo,
 ${misc:Depends}
